/* App Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



/* Footer */
.footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  margin-top: 20px;
}
